model_config_list:{
    config:{
      name:"rentPrice",
      base_path:"/models/multiModel/h5_Rentmodel",
      model_platform:"tensorflow"
    },
    config:{
      name:"salePrice",
      base_path:"/models/multiModel/h5_savedmodel",
      model_platform:"tensorflow"
    },
    config:{
      name:"saleOldPrice",
      base_path:"/models/multiModel/h5_SaleOldmodel",
      model_platform:"tensorflow"
    }
}
